In [1]:
pip install tensorflow

Requirement already satisfied: tensorflow in c:\users\91790\anaconda3\lib\site-packages (2.9.1)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\91790\anaconda3\lib\site-packages (from tensorflow) (4.1.1)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\91790\anaconda3\lib\site-packages (from tensorflow) (1.12.1)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in c:\users\91790\anaconda3\lib\site-packages (from tensorflow) (0.4.0)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in c:\users\91790\anaconda3\lib\site-packages (from tensorflow) (3.19.1)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\91790\anaconda3\lib\site-packages (from tensorflow) (1.1.0)
Requirement already satisfied: libclang>=13.0.0 in c:\users\91790\anaconda3\lib\site-packages (from tensorflow) (14.0.1)
Requirement already satisfied: keras<2.10.0,>=2.9.0rc0 in c:\users\91790\anaconda3\lib\site-packages (from tensorflow) (2.9.0)
Requirement already satisfied: keras-preprocessing>=1.1.1 in c:\users\91790\anaconda3\lib\site-packages (from tensorflow) (1.1.2)
Requirement already satisfied: tensorflow-estimator<2.10.0,>=2.9.0rc0 in c:\users\91790\anaconda3\lib\site-packages (from tensorflow) (2.9.0)
Requirement already satisfied: flatbuffers<2,>=1.12 in c:\users\91790\anaconda3\lib\site-packages (from tensorflow) (1.12)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in c:\users\91790\anaconda3\lib\site-packages (from tensorflow) (0.26.0)
Requirement already satisfied: setuptools in c:\users\91790\anaconda3\lib\site-packages (from tensorflow) (61.2.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\91790\anaconda3\lib\site-packages (from tensorflow) (1.42.0)
Requirement already satisfied: tensorboard<2.10,>=2.9 in c:\users\91790\anaconda3\lib\site-packages (from tensorflow) (2.9.1)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\91790\anaconda3\lib\site-packages (from tensorflow) (3.3.0)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\91790\anaconda3\lib\site-packages (from tensorflow) (0.2.0)
Requirement already satisfied: numpy>=1.20 in c:\users\91790\anaconda3\lib\site-packages (from tensorflow) (1.21.5)
Requirement already satisfied: h5py>=2.9.0 in c:\users\91790\anaconda3\lib\site-packages (from tensorflow) (3.6.0)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\91790\anaconda3\lib\site-packages (from tensorflow) (1.6.3)
Requirement already satisfied: packaging in c:\users\91790\anaconda3\lib\site-packages (from tensorflow) (21.3)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\91790\anaconda3\lib\site-packages (from tensorflow) (1.1.0)
Requirement already satisfied: six>=1.12.0 in c:\users\91790\anaconda3\lib\site-packages (from tensorflow) (1.16.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\91790\anaconda3\lib\site-packages (from astunparse>=1.6.0->tensorflow) (0.37.1)
Requirement already satisfied: markdown>=2.6.8 in c:\users\91790\anaconda3\lib\site-packages (from tensorboard<2.10,>=2.9->tensorflow) (3.3.4)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in c:\users\91790\anaconda3\lib\site-packages (from tensorboard<2.10,>=2.9->tensorflow) (0.6.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in c:\users\91790\anaconda3\lib\site-packages (from tensorboard<2.10,>=2.9->tensorflow) (1.33.0)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\91790\anaconda3\lib\site-packages (from tensorboard<2.10,>=2.9->tensorflow) (2.0.3)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in c:\users\91790\anaconda3\lib\site-packages (from tensorboard<2.10,>=2.9->tensorflow) (0.4.6)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\91790\anaconda3\lib\site-packages (from tensorboard<2.10,>=2.9->tensorflow) (2.27.1)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in c:\users\91790\anaconda3\lib\site-packages (from tensorboard<2.10,>=2.9->tensorflow) (1.8.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\91790\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.10,>=2.9->tensorflow) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in c:\users\91790\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.10,>=2.9->tensorflow) (4.2.2)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\91790\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.10,>=2.9->tensorflow) (4.7.2)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\91790\anaconda3\lib\site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.10,>=2.9->tensorflow) (1.3.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\91790\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.10,>=2.9->tensorflow) (0.4.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\91790\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.10,>=2.9->tensorflow) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\91790\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.10,>=2.9->tensorflow) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\91790\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.10,>=2.9->tensorflow) (1.26.9)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\91790\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.10,>=2.9->tensorflow) (2.0.4)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\91790\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.10,>=2.9->tensorflow) (3.2.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\91790\anaconda3\lib\site-packages (from packaging->tensorflow) (3.0.4)
Note: you may need to restart the kernel to use updated packages.

### importing the libraries

In [7]:
import tensorflow as tf
import numpy as np
import pandas as pd

In [8]:
tf.__version__

'2.9.1'

In [10]:
data=pd.read_csv("C:/Users/91790/Downloads/Galgotias-University-main/Galgotias-University-main/Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [11]:
x=data.iloc[:,3:-1].values
y=data.iloc[:,-1].values

In [12]:
print(x)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]

In [14]:
print(y)

[1 0 1 ... 1 1 0]

### Data Description

In [15]:
data.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

# Encoding  the data

In [18]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
x[:,2]= le.fit_transform(x[:,2])

In [19]:
print(x)

[[619 'France' 0 ... 1 1 101348.88]
 [608 'Spain' 0 ... 0 1 112542.58]
 [502 'France' 0 ... 1 0 113931.57]
 ...
 [709 'France' 0 ... 0 1 42085.58]
 [772 'Germany' 1 ... 1 0 92888.52]
 [792 'France' 0 ... 1 0 38190.78]]

In [25]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct=ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[1])],remainder='passthrough')
x=np.array(ct.fit_transform(x))

In [26]:
print(x)

[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]

### Splitting the data into training and testing

In [27]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

# Standardizing the data

In [29]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

### Intialising ANN

In [30]:
ann=tf.keras.models.Sequential()

### Adding the input layer and the hidden layer

In [32]:
ann.add(tf.keras.layers.Dense(units=6,activation='relu'))

### Adding the second hidden layer

In [33]:
ann.add(tf.keras.layers.Dense(units=6,activation='relu'))

### Adding the output layer

In [35]:
ann.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))

### Compiling the ANN

In [38]:
ann.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

### Training the ANN on training set

In [41]:
ann.fit(x_train,y_train,batch_size=32,epochs=50)

Epoch 1/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4612 - accuracy: 0.8009
Epoch 2/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4456 - accuracy: 0.8044
Epoch 3/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4384 - accuracy: 0.8059
Epoch 4/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4329 - accuracy: 0.8074
Epoch 5/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4277 - accuracy: 0.8111
Epoch 6/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4228 - accuracy: 0.8101
Epoch 7/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4180 - accuracy: 0.8151
Epoch 8/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4140 - accuracy: 0.8195
Epoch 9/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4105 - accuracy: 0.8227
Epoch 10/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4072 - accuracy: 0.8248
Epoch 11/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4040 - accuracy: 0.8241
Epoch 12/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4011 - accuracy: 0.8266
Epoch 13/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3979 - accuracy: 0.8286
Epoch 14/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3931 - accuracy: 0.8294
Epoch 15/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3883 - accuracy: 0.8338
Epoch 16/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3814 - accuracy: 0.8401
Epoch 17/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3746 - accuracy: 0.8441
Epoch 18/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3685 - accuracy: 0.8485
Epoch 19/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3634 - accuracy: 0.8497
Epoch 20/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3594 - accuracy: 0.8519
Epoch 21/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3563 - accuracy: 0.8534
Epoch 22/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3540 - accuracy: 0.8539
Epoch 23/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3515 - accuracy: 0.8571
Epoch 24/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3502 - accuracy: 0.8564
Epoch 25/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3490 - accuracy: 0.8574
Epoch 26/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3478 - accuracy: 0.8579
Epoch 27/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3470 - accuracy: 0.8608
Epoch 28/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3465 - accuracy: 0.8581
Epoch 29/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3457 - accuracy: 0.8594
Epoch 30/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3446 - accuracy: 0.8594
Epoch 31/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3449 - accuracy: 0.8593
Epoch 32/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3439 - accuracy: 0.8606
Epoch 33/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3439 - accuracy: 0.8615
Epoch 34/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3437 - accuracy: 0.8596
Epoch 35/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3430 - accuracy: 0.8612
Epoch 36/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3426 - accuracy: 0.8601
Epoch 37/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3423 - accuracy: 0.8609
Epoch 38/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3424 - accuracy: 0.8610
Epoch 39/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3418 - accuracy: 0.8611
Epoch 40/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3418 - accuracy: 0.8625
Epoch 41/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3418 - accuracy: 0.8602
Epoch 42/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3412 - accuracy: 0.8631
Epoch 43/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3411 - accuracy: 0.8597
Epoch 44/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3408 - accuracy: 0.8614
Epoch 45/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3408 - accuracy: 0.8599
Epoch 46/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3403 - accuracy: 0.8620
Epoch 47/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3408 - accuracy: 0.8618
Epoch 48/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3404 - accuracy: 0.8633
Epoch 49/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3403 - accuracy: 0.8612
Epoch 50/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3401 - accuracy: 0.8625

### Predicting the test results

In [42]:
print(ann.predict(sc.transform([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])) > 0.5)

1/1 [==============================] - 0s 289ms/step
[[False]]

In [44]:
y_pred = ann.predict(x_test)
y_pred = (y_pred > 0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

63/63 [==============================] - 0s 2ms/step
[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

### Confusion matrix

In [45]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[1506   89]
 [ 190  215]]

0.8605